:root {
    --brown: #555759;
    --light-gray: #f6f6f6;
    --green: #91f1ba;
    --turquoise: #6fdaf3;
    --pink: #c85e7a;
}

body {
    margin: 2rem;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

main {
    display: inline-block;
    background-color: var(--brown);
    color: var(--light-gray);
    padding: 1rem;
    border-radius: .3rem;
}

button {
    border: none;
    text-decoration: none;
    cursor: pointer;
}

/***** HEADER *****/

/***** TRACKS *****/
#track_list {
    background-color: #2d3f51;
    text-align: left;
    padding: 1rem;
    font-size: 1.2rem;
}

.track_name {
    user-select: none;
    display: inline-block;
    margin: .0 .5rem 0 .5rem;
    cursor: pointer;
}

#download_button {
    font-size: .5rem;
    background-color: transparent;
    color: white;
    border: .1rem solid white;
}

/***** MEDIA CONTROLS *****/
#media_controls {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #2d3f51;
}

.media_button {
    padding: .5rem;
}

/***** FOOTER *****/
#donate {
    font-size: 1rem;
    margin-top: 1rem;
}